#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout:: head(~{::title}, ~{})">
  <title th:text="${symbol_pound}{signin.title} + ' | ' + ${symbol_pound}{app.title}">Signin</title>
</head>
<body th:replace="Layout:: body('home', ~{::content} , ~{})">
	<div th:fragment="content" class="container my-t py-5">
		<div class="card mt-5">
			<div class="card-header text-center">
				<b th:text="${symbol_pound}{signin.please}">Please signin</b>
			</div>
			
			<div class="card-body" id="sysapi">
				<form th:action="@{/signin}" th:method="post">
					<div class="alert alert-danger" th:if="${symbol_dollar}{param.error != null && session.SPRING_SECURITY_LAST_EXCEPTION != null}">
						<p th:text="${symbol_dollar}{session.SPRING_SECURITY_LAST_EXCEPTION.message}" class="mb-0">Login Error</p>
					</div>
					<div class="form-group">
						<label for="username" th:text="${symbol_pound}{user.name}">User Name</label>
						<input type="text" class="form-control form-control-lg" id="username" name="username" th:placeholder="${symbol_pound}{user.name.placeholder}" required>
						<small class="form-text text-muted" th:text="${symbol_pound}{user.name.help}"></small>
					</div>
					<div class="form-group">
						<label for="password" th:text="${symbol_pound}{user.password}">Password</label>
						<input type="password" class="form-control form-control-lg" id="password" name="password"  th:placeholder="${symbol_pound}{user.password.placeholder}" required>
						<small class="form-text text-muted" th:text="${symbol_pound}{user.password.help}"></small>
					</div>
					<button type="submit" class="btn btn-primary" th:text="${symbol_pound}{signin.submit}">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>